<%- include("partials/header") %>

<div class="container">
  <div class="welcome-section">
    <h1>Vítejte na stránkách projektu Bradavice online</h1>
    <div class="welcome-text">
      <p>
      Jsme bezplatný online RPG server vedený skupinou motivovaných nadšenců. Hra běží na platformě World of Warcraft s datadiskem WOTLK 3.3.5a, která Ti umožní vytvářet svůj vlastní příběh v kouzelném světě Harryho Pottera.</p> 
      <p >Po registraci získáváš možnost zahrát si jedenáctiletého kouzelníka, který poprvé objevuje a ochutnává atmosféru Bradavického hradu, seznamuje se s jeho obyvateli a tajemstvími. Máš možnost navštěvovat hodiny, navazovat nová přátelství, ale především na Tebe čeká dobrodružství v podobě ročníkové akce a mnoha dalších akcí vedlejších.
      </p>
    </div>
    <h4 style="color: #e94560;">Nyní probíhá registrace na Vánoční akci 2020</h4>

    <form action="/game-registration">
      <button type="submit" class="btn-registrate-now btn btn-danger btn-large">
        Zaregistruj se nyní!
      </button>
    </form>


    <div class="welcome-carousel">
      <div
        id="ImgCarouselIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#ImgCarouselIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#ImgCarouselIndicators" data-slide-to="1"></li>
          <li data-target="#ImgCarouselIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/images/img1.jpg"
              class="d-block w-100 carousel-img"
              alt="image pf hogwarts"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/images/img2.jpg"
              class="d-block w-100 carousel-img"
              alt="image of quiditch pitch"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/images/img3.jpg"
              class="d-block w-100 carousel-img"
              alt="image of clocktower courtyard"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/images/img5.jpg"
              class="d-block w-100 carousel-img"
              alt="image of clocktower courtyard"
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#ImgCarouselIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#ImgCarouselIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

  <div class="news-carousel-section">
    <div class="container">
    <h2>Co je nového</h2>

    <div class="news-carousel">
      <div id="NewsCarouselIndicators" class="carousel slide" data-interval="false">
        <ol class="carousel-indicators">
          <li
            data-target="#NewsCarouselIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#NewsCarouselIndicators" data-slide-to="1"></li>
          <li data-target="#NewsCarouselIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active news-carousel-item">

            <%  const IMGURL = "" %>
              <%  const currentPost = posts%>
              <% let index = 0 %> 
              <% if (currentPost[index].img_url === "" || currentPost[index].img_url === null ){ %>
              <%    imgURL = "images/gate.jpg" %>
              <%} else { %>
                <%  imgURL = currentPost[index].img_url %>
                <%} %>

            <div class="post row">
              <div class="col-md-4">
                <img class="post-img" src="<%=imgURL%> " alt="" />
              </div>
              <div class="col-md-8">
                <h2 class="news-carousel-heading"><%=currentPost[index].heading%></h2>
                <div class="post-info">
                  <ul>
                    <li class="post-info-item"><i class="far fa-user"></i><%=currentPost[index].username%></li>
                    <li class="post-info-item">
                      <i class="far fa-clock"></i><%=currentPost[index].date%>
                    </li>
                  </ul>
                </div>
                <% if (currentPost[index].postBody.length > 440){ %>
                <p ><%-currentPost[index].postBody.slice(0,440)%> ... </p>
                <a href="/news/<%=currentPost[index].id%>">Číst dále</a>
                <%} else{ %>
                  <p ><%-currentPost[index].postBody%> </p>
                <%} %>
              </div>
            </div>
          </div>

          <div class="carousel-item news-carousel-item">
            <% index = 1 %> 
            <% if (currentPost[index].img_url === "" || currentPost[index].img_url === null ){ %>
            <%    imgURL = "images/gate.jpg" %>
            <%} else { %>
              <%  imgURL = currentPost[index].img_url %>
              <%} %>
        
          <div class="post row">
            <div class="col-md-4">
              <img class="post-img" src="<%=imgURL%> " alt="" />
            </div>
            <div class="col-md-8">
              <h2 class="news-carousel-heading"><%=currentPost[index].heading%></h2>
              <div class="post-info">
                <ul>
                  <li class="post-info-item"><i class="far fa-user"></i><%=currentPost[index].username%></li>
                  <li class="post-info-item">
                    <i class="far fa-clock"></i><%=currentPost[index].date%>
                  </li>
                </ul>
              </div>
              <% if (currentPost[index].postBody.length > 440){ %>
                <p ><%-currentPost[index].postBody.slice(0,440)%> ... </p>
                <a href="/news/<%=currentPost[index].id%>">Číst dále</a>
                <%} else{ %>
                  <p ><%-currentPost[index].postBody%> </p>
                <%} %>
            </div>
          </div>

          <!-- </div>
          <div class="carousel-item news-carousel-item">
            <%/* index = 2 %> 
            <% if (currentPost[index].img_url === "" || currentPost[index].img_url === null ){ %>
            <%    imgURL = "images/gate.jpg" %>
            <%} else { %>
              <%  imgURL = currentPost[index].img_url %>
              <%} %>
        
            <div class="post row">
              <div class="col-md-4">
                <img class="post-img" src="<%=imgURL%> " alt="" />
              </div>
              <div class="col-md-8">
                <h2 class="news-carousel-heading"><%=currentPost[index].heading%></h2>
                <div class="post-info">
                  <ul>
                    <li class="post-info-item"><i class="far fa-user"></i><%=currentPost[index].username%></li>
                    <li class="post-info-item">
                      <i class="far fa-clock"></i><%=currentPost[index].date%>
                    </li>
                  </ul>
                </div>
                <% if (currentPost[index].postBody.length > 440){ %>
                  <p ><%-currentPost[index].postBody.slice(0,440)%> ... </p>
                  <a href="/news/<%=currentPost[index].id%>">Číst dále</a>
                  <%} else{ %>
                    <p ><%-currentPost[index].postBody%> </p>
                  <%} */%>
              </div>
            </div>
          </div> -->
        </div>
      <a
          class="carousel-control-prev"
          href="#NewsCarouselIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#NewsCarouselIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    </div>
  </div>

    

<div class="features-section" id="about-game">
  <div class="container">
    <h2>O hře</h2>
    <div class="row align-left">
      <div class="col-md-9 feature-text">
        <h3 class="feature-heading">
          Zažij neopakovatelná dobrodružství v Bradavickém hradě
        </h3>
        <p>
          Bradavice online jsou jedinečný WOW RP server, který hráčům přináší velké množství zábavy 
          a nevšedních zážitků, a to jednak v podobě RP interakcí mezi hráči navzájem, jednak ve formě 
          akcí připravovaných GM týmem. Oblíbeným dobrodružstvím jsou celoroční akce, které se odvíjí 
          na etapy v průběhu celého školního roku.
        </p>
      </div>
      <div class="col-md-3">
        <img class="feature-img" src="/images/adventure.jpg" alt="" />
      </div>
    </div>

    <div class="row align-right">
      <div class="col-md-3 middle-image-big-screen">
        <img
          class="feature-img feature-img-left"
          src="/images/potion_brewing.jpg"
          alt="brewing potion"
        />
      </div>
      <div class="col-md-9 feature-text">
        <h3 class="feature-heading">Nauč se vařit lektvary a ovládat kouzla</h3>
        <p>
          V Bradavicích online na Vás čeká speciálně upravený systém lektvarů 
          a kouzel. Budete mít možnost sbírat vzácné i běžné suroviny na pozemcích a
           v interiérech Hradu, a postupně se učit čím dál složitějším lektvarům, 
           které můžete dále využívat i mimo hodiny profesora Snapea. Kouzla Vám pomohou 
           v obraně před temnými tvory, a ulehčí Vám nejeden zakázaný výlet z pokoje po večerce.
        </p>
      </div>
      <div class="col-md-3 middle-image-small-screen">
        <img
          class="feature-img feature-img-left"
          src="/images/potion_brewing.jpg"
          alt="brewing potion"
        />
      </div>
    </div>

    <div class="row align-left">
      <div class="col-md-9 feature-text">
        <h3 class="feature-heading">
          Prozkoumej bludiště chodeb Bradavického hradu a jeho pozemků</h3>
        <p>
          Bradavický hrad ukrývá mnoho spletitých chodeb, tajných místností,
           ale i zapomenutých koridorů, které Vám mohou pomoci stihnout vyučovací 
           hodinu včas, schovávají ale také mnoho tajemství a nebezpečných předmětů. 
           Bradavice online pro Vás mají připravený celý hrad se všemi patry a přilehlými 
           pozemky, Zapovězený les, Prasinky, ale i další lokality z kouzelnického světa 
           jako například Godrikův důl anebo Malý Visánek.
        </p>
      </div>
      <div class="col-md-3">
        <img class="feature-img" src="/images/corridor.jpg" alt="corridor" />
      </div>
    </div>
    </div>

    
  </div>
</div>

<div class="trailer-section">
  <h2>Oficiální trailer</h2>
  <iframe
    class="trailer"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/jlPG7UAp4yc"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<%- include("partials/footer") %>
