<%- include("partials/header") %>
<!-- prettier-ignore -->
<div class="container news">
  <% posts.forEach((post)=>{ %>
    <%  const IMGURL = "" %>
    <% if (post.img_url === "" || post.img_url === null ){ %>
    <%    imgURL = "images/gate.jpg" %>
    <%} else { %>
      <%  imgURL = post.img_url %>
      <%} %>

  <div class="post row">
    <div class="col-md-4">
      <img class="post-img" src="<%=imgURL%> " alt="" />
    </div>
    <div class="col-md-8">
      <h2 class="post-header"><%=post.heading%></h2>
      <div class="post-info">
        <ul>
          <li class="post-info-item"><i class="far fa-user"></i><%=post.username%></li>
          <li class="post-info-item">
            <i class="far fa-clock"></i><%=post.date%>
          </li>
        </ul>
      </div>
      <% if(post.postBody.length > 440){ %>
        <p ><%-post.postBody.slice(0,440)%> ... </p>
        <a href="/news/<%=post.id%>">Číst dále</a>
        <%} else{ %>
          <p ><%-post.postBody%> </p>
        <%}%>
    </div>
  </div>

  <% }); %>
</div>

<%- include("partials/footer") %>
