<%- include("partials/header") %>


    <div class="container post-section">

        <%  let imgURL = "" %>
        <% if (img === "" || img === null ){ %>
        <%    imgURL = "/images/gate.jpg" %>
        <%} else { %>
          <%  imgURL = img %>
          <%} %>

        <img class="post-img" src="<%=imgURL%>" alt="post image">
        <h2><%=heading%></h2>
        <div>
            <ul>
                <li class="post-info-item"><i class="far fa-user"></i><%=user%></li>
                <li class="post-info-item">
                    <i class="far fa-clock"></i><%=date%>
                </li>
            </ul>
        </div>
        <div class="post">
            <p><%-postBody%> </p>
        </div>

        <div class="post-galery">
        <% images.forEach((image)=>{ %> 
            <img class="post-galery-img" src="<%=image.url%>" alt="post image">
        <%  }) %> 
        </div>

</div>














<%- include("partials/footer") %> 