<%- include("partials/header") %> 
<div class="container">
    <div class="registered-players-section">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Jméno</th>
            <th scope="col">email</th>
            <th scope="col">Věk</th>
            <th scope="col">Kolej 1</th>
            <th scope="col">Kolej 2</th>
            <th scope="col">Login</th>
          </tr>
        </thead>
        <tbody>
        <% players.forEach(player => { %>
        <tr>
            <th scope="row"><%-player.id%></th>
            <td><%-player.name%></td>
            <td><%-player.email%></td>
            <td><%-player.age%></td>
            <td><%-player.house1%></td>
            <td><%-player.house2%></td>
            <td><%-player.login%></td>
        </tr>
        <%});%>


        </tbody>
      </table>
    </div>
</div>




<%- include("partials/footer") %> 